
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>首页-Doyleaf</title>
	
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/index.css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="bg">
  	<div class="container bg">
  		<div class="indexBox row">
			<img src="assets/img/DPHP.png" class="col-md-11 col-sm-12 col-xs-12" />
			<ul class="col-sm-12 col-xs-12 row">
				<li class="col-md-4 col-sm-4 col-xs-3"><a href="#">概述</a></li>
				<li class="col-md-4 col-sm-4 col-xs-6"><a href="#">关于我们</a></li>
				<li class="col-md-4 col-sm-4 col-xs-3"><a href="#">下载</a></li>
			</ul>
		</div>
  	</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/jquery-1.12.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/rem.js" ></script>
  </body>
</html>