<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Doyleaf</title>
    <link rel="shortcut icon" href="/assets/img/DPHP.ico" />
    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="bg">
<div class="container-fluid bg">
    <div class="indexBox ">
        <img src="/assets/img/DPHP.png" class="dimg"/>
        <ul class="container">
            <li class="col-md-4 col-sm-4 col-xs-12">
                <a href="https://github.com/DongyunLee/Dphp/blob/master/README.md" target="_blank">概&emsp;&emsp;述</a>
            </li>
            <li class="col-md-4 col-sm-4 col-xs-12">
                <a href="https://blog.doylee.cn">关于我们</a>
            </li>
            <li class="col-md-4 col-sm-4 col-xs-12">
                <a href="https://github.com/DongyunLee/Dphp/archive/master.zip" target="_blank">下&emsp;&emsp;载</a>
            </li>
        </ul>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/assets/js/jquery-1.12.4.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(function(){
		var w=$(window).width();
		if (w<768) {
			$(".dimg").attr("src","/assets/img/DPHP2.png")
		}
	})
</script>

</body>
</html>